rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /lab_types/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /institutes/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /inquiries/{document} {
      allow create: if true;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /users/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /user_types/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /states/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /states/{parent}/cities/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /{path=**}/cities/{document} {
      allow read: if true;
    }


    match /users/{parent}/search_activities/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/search_activities/{document} {
      allow read: if request.auth != null;
    }


    match /users/{parent}/reviews/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/reviews/{document} {
      allow read: if true;
    }


    match /users/{parent}/user_requests/{document} {
      allow create: if true;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/user_requests/{document} {
      allow read: if request.auth != null;
    }


    match /job_types/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /jobs/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /blogs/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /users/{parent}/applied_jobs/{document} {
      allow create: if true;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /{path=**}/applied_jobs/{document} {
      allow read: if request.auth != null;
    }


    match /users/{parent}/bookmarked_jobs/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /{path=**}/bookmarked_jobs/{document} {
      allow read: if request.auth != null;
    }


    match /users/{parent}/bookmarked_labs/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /{path=**}/bookmarked_labs/{document} {
      allow read: if request.auth != null;
    }


    match /users/{parent}/bookmarked_instruments/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /{path=**}/bookmarked_instruments/{document} {
      allow read: if request.auth != null;
    }


    match /users/{parent}/ip_patents/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /{path=**}/ip_patents/{document} {
      allow read: if request.auth != null;
    }


    match /users/{parent}/research_papers/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /{path=**}/research_papers/{document} {
      allow read: if request.auth != null;
    }


    match /users/{parent}/research_projects/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /{path=**}/research_projects/{document} {
      allow read: if request.auth != null;
    }


    match /users/{parent}/technology_requirements/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if request.auth.uid == parent;
    }

    match /tools/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /tools/{parent}/tool_comment/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /{path=**}/tool_comment/{document} {
      allow read: if true;
    }


    match /tools/{parent}/tool_replies/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /{path=**}/tool_replies/{document} {
      allow read: if true;
    }


    match /sophisticated_instruments/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /users/{parent}/booked_resources/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if request.auth.uid == parent;
    }

    match /instruments_tests_list/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /labs/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /labs/{parent}/instruments_tests/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/instruments_tests/{document} {
      allow read: if true;
    }


    match /admin_notifications/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /certificate_types/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /communities/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /communities/{parent}/community_comments/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/community_comments/{document} {
      allow read: if true;
    }


    match /communities/{parent}/community_replies/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /{path=**}/community_replies/{document} {
      allow read: if true;
    }


    match /terms/{parent}/term_contents/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /{path=**}/term_contents/{document} {
      allow read: if true;
    }


    match /terms/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /users/{parent}/user_notification/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/user_notification/{document} {
      allow read: if request.auth != null;
    }

  }
}
